<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.venue.introduce.mapper.StopDateMapper">
    
    <select id="selectStopDateList" parameterType="StopDate" resultType="StopDate">
       select
       		id,
			stopdate       
		from t_stopdate
        <where>
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				AND date_format(stopdate,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				AND date_format(stopdate,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
		</where>
		order by stopdate desc
    </select>


    <insert id="insertStopDate" parameterType="StopDate">
        insert into t_stopdate (
			stopdate,		
			create_time,
			update_time			
 		)values(
			#{stopdate},
 			sysdate(),
 			sysdate()
		)
    </insert>
	
    <delete id="deleteStopDateByIds" parameterType="String">
        delete from t_stopdate where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>